<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divisas</title>
</head>
<body>
    <div>
         <input id="cantidadConvertir" type="number" placeholder="Inserte La Cantidad de Dinero ">

        <input type="button id="cbox2" value="1"> <label for="cbox2">Dolar</label>

        <input type="checkbox" id="cbox2" value="2"> <label for="cbox2">Euro</label>

        <input type="checkbox" id="cbox2" value="3"> <label for="cbox2">Real</label>
        
        <button  onclick="hacerConvercion()">Convierte en pesos uruguayos</button> 
    </div>

    <script src="./divisas.js"></script>
</body>
</html>